.container {
  width: 50%;
  margin: auto;
  background-color: rgb(53, 137, 211);
  border-radius: 10px;
  box-shadow: 10px 12px 10px rgb(15, 15, 15);
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
